/* Input Field */
.input-field {
  position: relative;
  width: 100%;

  /* Label Styles */
  &__label {
    display: flex;
    gap: toRem(4);
    margin-bottom: $unit-0;
    color: $bbt-secondary-grey;

    &--error {
      color: $bbt-secondary-grey;
    }

    &--focused {
      color: $bbt-primary-green;
    }

    &--required {
      color: $bbt-orange-100; // color for asterisk
    }
  }

  &__disabled {
    position: absolute;
    top: 50%;
    right: toRem(5);
    overflow-y: -50%;
    width: toRem(12);
    height: toRem(12);
    background-color: $bbt-grey-50;
  }

  /* Textarea Styles */
  &__content {
    display: flex;
    width: 100%;
    margin-bottom: $unit-0;
    border: none;
    color: $bbt-secondary-grey;
    border-bottom: toRem(1) solid $bbt-grey-50;
    padding: 0 0 toRem(3);
    background: transparent;
    outline: none;
    transition: all 0.35s ease-in-out;

    &::placeholder {
      color: $bbt-grey-50;
    }

    &:not(:placeholder-shown) {
      color: $bbt-text;
      border-bottom-color: $bbt-secondary-grey;
    }

    &:hover,
    &:focus,
    &:active {
      color: $bbt-text;
      border-bottom-color: $bbt-secondary-grey;
    }

    // Remove background color for autofilled fields
    &:-webkit-autofill {
      -webkit-text-fill-color: $bbt-text !important;
      -webkit-box-shadow: 0 0 0px 1000px $bbt-grey-5 inset !important;
    }

    /* Error State for Textarea */
    &--error {
      border-bottom-color: $bbt-red-100; // Red border for error
    }

    &:disabled {
      color: $bbt-grey-70;
      border-bottom-color: $bbt-grey-30;
    }
  }

  /* Error Message Styles */
  &--error-message {
    color: $bbt-red-100;
  }
}
