.toggle-switch {
  display: flex;
  align-items: center;
  gap: $unit-1;
  width: fit-content;
  cursor: pointer;

  &__text {
    color: $bbt-text;
    cursor: pointer;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: $unit-4;
    height: $unit-2;
    &.baubschnitte-toggle{
      width: toRem(32);
      height: $unit-1;
    }
    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bbt-grey-10;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: toRem(3);

    &:before {
      position: absolute;
      content: "";
      height: $unit-1;
      width: $unit-1;
      left: $unit-0;
      bottom: $unit-0;
      background-color: $bbt-grey-50;
      -webkit-transition: .35s;
      transition: .35s;
      border-radius: toRem(3);
    }
    &.baubschnitte-slider {
      &:before {
        position: absolute;
        content: "";
        height: 16px; 
        width: 16px;
        left: 2px; 
        bottom: 2px; 
        background-color: $bbt-grey-50;
        transition: transform .35s, background-color .35s;
        border-radius: toRem(3);
      }
    }
  }

  &__input {
    &:checked + .toggle-switch__slider {
      background-color:  $bbt-green-20;

      &:before {
        background-color: $bbt-primary-green;
      }
    }

    &:checked + .toggle-switch__slider::before {
      transform: translateX(toRem(20));
    }

    &.baubschnitte-input {
      &:checked + .toggle-switch__slider::before {
        transform: translateX(toRem(12));
      }
    }
  }

  &:hover {
    .toggle-switch__slider {
      background-color: $bbt-grey-20;

      &:before {
        background-color: $bbt-grey-70;
      }
    }
  }
}

// .toggle-switch {

  

//   &__slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: $bbt-grey-10;
//     transition: background-color .4s;
//     border-radius: 10px; // Adjusted for aesthetics

//     &:before {
//       position: absolute;
//       content: "";
//       height: 16px; // Adjusted for the new height
//       width: 16px; // Adjusted for the new size
//       left: 2px; // Center it within the toggle
//       bottom: 2px; // Center it within the toggle
//       background-color: $bbt-grey-50;
//       transition: transform .35s, background-color .35s;
//       border-radius: 50%; // Make it circular
//     }
//   }

//   &__input {
//     &:checked + .toggle-switch__slider {
//       background-color: $bbt-green-20;

//       &:before {
//         background-color: $bbt-primary-green;
//       }
//     }

//     &:checked + .toggle-switch__slider::before {
//       transform: translateX(12px); // Adjusted for new dimensions
//     }
//   }

//   &:hover {
//     .toggle-switch__slider {
//       background-color: $bbt-grey-20;

//       &:before {
//         background-color: $bbt-grey-70;
//       }
//     }
//   }
// }
