.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  transition: top 0.35s ease-in-out;

  &.show {
    animation: slideShow 0.35s forwards;
  }

  &.slide-up {
    animation: slideHide 0.35s forwards;
  }

  &.fade-in {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;

    &.show {
      opacity: 1;
      animation: unset;
    }

    &.fade-out {
      opacity: 0;
    }

    .modal-dialog {
      transition: unset;
      transform: unset;
    }
  }

  .modal-dialog {
    width: 100%;
    max-width: toRem(1280);
    max-height: 79vh;
    margin: 0;
    padding: 0 $unit-1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 1400px) {
      padding: 0;
    }
  }

  .modal-content {
    width: 100%;
    height: auto;
    max-height: 79vh;
    margin: auto;
    overflow-y: auto;
  }

  .modal-header {
    padding: $unit-1;
    background-color: $bbt-grey-5;
    border-bottom: toRem(1) solid $bbt-grey-50;
    border-top-left-radius: toRem(4);
    border-top-right-radius: toRem(4);

    .modal-title {
      display: flex;
      flex-wrap: wrap;
      line-height: toRem(28);
      color: $bbt-text;

      .heading__regular {
        margin-right: $unit-0;
      }
    }

    .btn-close {
      width: toRem(18);
      height: toRem(18);
      padding: toRem(10);
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 11px;
      color: $bbt-secondary-grey;
      background-color: transparent;
      opacity: 1;

      &:hover {
        color: $bbt-grey-50;
        background-color: transparent;
      }

      &:focus {
        color: $bbt-secondary-grey;
        background-color: $bbt-white;
        box-shadow: 0 0 10px 0 rgba(83, 86, 90, 0.5);
      }

      &:active {
        color: $bbt-secondary-grey;
        background-color: $bbt-white;
        box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.5) inset;
      }
    }

    &.header-no-background {
      background-color: $bbt-white;
    }
  }

  .modal-body {
    padding: 20px;
    overflow-y: auto;
    overflow: auto;
    padding: 20px;

    .change-password {
      display: flex;
      gap: 20px;

      .password,
      .validate-password {
        width: 50%;
        .title {
          margin-top: toRem(6);
        }
        .item {
          display: flex;
          align-items: center;
          gap: $unit-factor;
          margin-bottom: toRem(6);
        }
        .content-icon {
          width: toRem(14);
          height: toRem(14);
          align-items: center;
          flex-shrink: 0;

          &.icon-check {
            background-color: $bbt-primary-green;
          }

          &.icon-x {
            background-color: $bbt-red-100;
          }
        }
        .input-field {
          &__content {
            &:-webkit-autofill {
              -webkit-text-fill-color: $bbt-text !important;
              -webkit-box-shadow: 0 0 0px 1000px $bbt-white inset !important;
            }
          }
        }
      }
    }

    .tab__header {
      padding: 0 $unit-1;
    }
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    gap: $unit-1;
    min-height: toRem(78);
    padding: $unit-1;
    background-color: $bbt-grey-5;
    border: none;
    border-top: none;
    border-bottom-right-radius: toRem(4);
    border-bottom-left-radius: toRem(4);

    &.no-background {
      background-color: $bbt-white;
    }

    & > * {
      margin: 0;
    }
  }

  &--half {
    .modal-dialog {
      max-width: toRem(640);
      max-height: 50vh;
    }

    .modal-content {
      width: 100%;
      height: 100%;
      max-height: 50vh;
      margin: auto;
    }
  }
}

@keyframes slideShow {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes slideHide {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
