// Plan View Modal
.release-form {
  .modal-content {
    background-color: $bbt-grey-5;
  }

  .modal-body {
    padding: $unit-1 0 !important;
    margin-right: toRem(9);
    background-color: $bbt-grey-5;
    overflow-y: auto;

    &:has(.confirmation--secondary) {
      padding: $unit-1 !important;
      margin-right: unset;
    }

    // Custom scrollbar styling
    &::-webkit-scrollbar {
      width: toRem(6);
    }

    &::-webkit-scrollbar-track {
      background: $bbt-grey-5;
      border-radius: toRem(3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bbt-grey-30;
      border-radius: toRem(3);
    }
  }
}