.body {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
    background-color: $bbt-grey-5;
}

.main-content {
    width: 100%;
    min-height: calc(100vh - calc(14 * $unit-factor));

    .page-content {
      padding: 105px 20px 20px;
    }

    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;

      .page-content {
        padding: 105px 25px 25px;
      }
    }

    @media (min-width: 993px) and (max-width: 1148px) {
      min-height: calc(100vh - 52px);
    }
  }