.vertical-menu {
  width: 300px;
  position: fixed;
  top: 0;
  background: $bbt-grey-10;
  color: $bbt-secondary-grey;
  transition: 0.3s ease;
  height: 100%;
  z-index: 1001;

  &__caption-color {
    padding-left: 26px;
    padding-top: 26px;
    color: $bbt-grey-50;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(2 * $unit-factor);
    padding-right: calc(2 * $unit-factor);
    padding-top: 14px;
  }
  &__open {
    width: 300px; 
    transition: width 0.3s ease; 
  }
  &__closed {
    display: none;
    visibility: hidden;
  }
  #sidebar-menu {
    padding-left: 26px;
    padding-top: calc(2 * $unit-factor);
    .sidebar {
      &__menu-item {
        text-decoration: none;
        outline: none;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 26px;
          color: $bbt-secondary-grey;
          background: none;
          border: none;
          border-radius: 8px;
          gap: 5px;
          text-align: start;
          cursor: pointer;

          span {
            font-size: 16px;
            background: $bbt-grey-10;
            color: $bbt-secondary-grey;
          }

          .icon {
            background: $bbt-grey-50;
          }

          &.collapsed {
            .sidebar-arrow {
              transform: rotate(0deg);
              transition: 0.3s;
            }
          }

          &:hover {
            transition: 0.3s ease-out;
            background: $bbt-grey-10;

            span {
              color: $bbt-secondary-grey;
              background: $bbt-grey-10;
              transition: 0.3s;
            }

            .icon {
              background: $bbt-primary-green;
              transition: 0.3s;
            }
          }
        }

        &.active {
          button {
            position: relative;

            span {
              color: $bbt-primary-green;
            }

            .icon {
              background: $bbt-primary-green;
            }

            .sidebar-arrow {
              transform: rotate(180deg);
              transition: 0.3s;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 4px;
              background-color: $bbt-primary-green;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }

            &:hover {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    box-shadow: 4px 0px 8px rgba(16, 24, 64, 0.08);

    &__open {
      width: 250px;
      transition: 0.3s;
      animation-name: shownum;
      animation-duration: 0.3s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }
  } 
  @media (max-width: 375px) {
    &__open {
      width: 100%;
    }
  }
}
