.main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: calc(100vh - 51px);

    .page-content {
      padding: 120px 50px 50px;

      .breadcrumb {
        margin-bottom: 40px;
        .page-title-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .breadcrumb-title {
            color: $neutral-900;
            text-align: left;
            font-size: 32px;
            font-family: $urbanist-bold;
            line-height: 40px;
            margin-bottom: 0;
          }

          .breadcrumb-subtitle {
            color: $neutral-700;
            font-size: 20px;
            font-family: $urbanist-medium;
            line-height: 24px;
          }
        }

        @media (max-width: 576px) {
          margin-bottom: 30px;

          .page-title-box {
            gap: 10px;

            .breadcrumb-title {
              font-size: 28px;
              line-height: 34px;
            }

            .breadcrumb-subtitle {
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;

      .page-content {
        padding: 105px 25px 25px;
      }
    }

    @media (min-width: 993px) and (max-width: 1148px) {
      min-height: calc(100vh - 52px);
    }
  }
.footer {
    margin-left: 250px;
    padding: 15px 70px;
    color: $bbt-white;
    background-color: $bbt-secondary-grey;
    // font-family: $urbanist-regular;
    font-size: 14px;
    > div {
      > div {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
        }
      }
    }

    @media (min-width: 768px) {
      .developed-by {
        justify-content: flex-end;
      }
    }

    @media (max-width: 992px) {
      margin-left: 0;
      padding: 15px 25px;
    }
  }
