.footer {
    margin-left: 250px;
    padding: 15px 70px;
    color: $neutral-700;
    background-color: $gr;
    font-family: $urbanist-regular;
    font-size: 14px;
    > div {
      > div {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
        }
      }
    }

    @media (min-width: 768px) {
      .developed-by {
        justify-content: flex-end;
      }
    }

    @media (max-width: 992px) {
      margin-left: 0;
      padding: 15px 25px;
    }
  }
