# Disable directory indexing
Options -Indexes

# Ensure the RewriteEngine is enabled
RewriteEngine On

# Redirect all requests to index.html except files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]