@font-face {
  font-family: "Boxed Regular";
  src: url('../../fonts/BoxedRegular.woff') format('woff'),
  url('../../fonts/BoxedRegular.woff2') format('woff2'),
  url('../../fonts/BoxedRegular.ttf') format('ttf');
}

@font-face {
  font-family: "Boxed Medium";
  src: url('../../fonts/BoxedMedium.woff') format('woff'),
  url('../../fonts/BoxedMedium.woff2') format('woff2'),
  url('../../fonts/BoxedMedium.ttf') format('ttf');
}

@font-face {
  font-family: "Boxed Semi bold";
  src: url('../../fonts/BoxedSemibold.woff') format('woff'),
  url('../../fonts/BoxedSemibold.woff2') format('woff2'),
  url('../../fonts/BoxedSemibold.ttf') format('ttf');
}