.link-component {
  color: $bbt-primary-green;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: toRem(1);
  text-underline-position: from-font;
  cursor: pointer;
}