.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: toRem(100) $unit-1 $unit-1;
  text-align: center;
  background-color: $bbt-grey-5;
  word-break: break-word;

  .no-access {
    display: flex;
    align-items: center;
    gap: toRem(6);

    .background-grey {
      padding: toRem(2) toRem(6);
      border-radius: toRem(2);
      color: $bbt-white;
      background-color: $bbt-secondary-grey;
    }

    .background-light-grey {
      padding: toRem(2) toRem(6);
      border-radius: toRem(2);
      color: $bbt-grey-60;
      background-color: $bbt-grey-20;
    }
  }

  &__code {
    margin-bottom: toRem(60);
    font-family: $font--boxed-medium;
    font-size: toRem(96);
    line-height: toRem(120);
    font-weight: 600;
    color: $bbt-primary-green;
    word-break: break-word;

    @media (min-width: 488px) {
      font-size: 96px;
    }
    @media (max-width: 676px) {
      font-size: 70px;
    }
    @media (max-width: 488px) {
      font-size: 50px;
    }
  }

  &__title {
    margin-bottom: toRem(100);
    font-family: $font--boxed-regular;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    color: $bbt-secondary-grey;

    @media (min-width: 488px) {
      font-size: 36px;
    }
    @media (max-width: 676px) {
      font-size: 26px;
    }
    @media (max-width: 488px) {
      font-size: 16px;
    }
  }
}