.pagination-container {
  margin-bottom: $unit-5;

  &__bottom {
    margin-bottom: $unit-3;
  }

  @media (min-width: 300px) {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 520px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(15);
  }
  .form {
    width: toRem(166);
    height: auto;
    padding: unset;
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
  }
 
}

.pagination-block {
  display: flex;
  height: $unit-3;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $unit-0;

  &__page-item {
    position: relative;

    &::marker {
      content: none;
      display: none;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.prev-item{
      padding-top: toRem(5);
    }
    &.next-item{
      padding-top: toRem(5);
    }
    &.active {
      .pagination__page-link {
        color: $bbt-primary-green;
      }
    }
  }

  &__page-link {
    font-family: $font--boxed-regular;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.25px;
    padding: $unit-0 $unit-factor;
    border: 1px solid transparent;
    border-radius: toRem(4);
    transition: all 0.3s ease;
    display: inline-flex;
    text-decoration: none;
    color: $bbt-secondary-grey;

    &:hover {
      color: $bbt-grey-50;
    }

    &:active {
      color: $bbt-primary-green;
    }
  }
}
