.tab {
  display: flex;
  flex-direction: column;
  padding: $unit-1 0;

  &:has(.list-no-result) {
    padding: $unit-1 0 0;
    gap: $unit-factor;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $unit-factor;
  }

  &__order {
    padding: unset;
    margin-bottom: $unit-3;
  }

  &__buttons {
    position: relative;
    display: flex;
    border-bottom: toRem(1) solid $bbt-grey-20;
    flex-grow: 1;
    transition: all .35s ease;
  }

  &__item {
    position: relative;
    padding: $unit-factor $unit-1;
    margin-bottom: toRem(-1);
    color: $bbt-grey-60;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .35s ease-in-out;
    border-bottom: toRem(1) solid transparent;

    &:before {
      content: " ";
      position: absolute;
      bottom: toRem(-1);
      left: 0;
      width: 100%;
      height: toRem(3);
      background-color: $bbt-primary-green;
      opacity: 0;
      transition: transform .35s ease,
      opacity .35s ease;
    }

    &:hover {
      color: $bbt-secondary-grey;
      border-bottom: toRem(1) solid $bbt-secondary-grey;
    }

    &:focus,
    &:active,
    &.active {
      color: $bbt-secondary-grey;

      &:before {
        opacity: 1;
        transition: transform .35s ease,
        opacity .35s ease;
      }
    }
  }

  &__content {
    transition: all .35s ease;
  }

  &__content-item {
    &.active {
      animation: showTab .35s forwards;
    }

    &.close {
      animation: hideTab .35s forwards;
    }
  }

  // Messages styles
  &__messages {
    .tab__header {
      padding: unset;
    }
  }
}

@keyframes hideTab {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showTab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}