.filter-dialog {
    position: absolute;
    width: toRem(229);
    height: toRem(368);
    margin-top: toRem(25);
    padding: $unit-1;
    display: flex;
    flex-direction: column;
    background-color: $bbt-grey-5;
    border: 1px solid $bbt-grey-50;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: -70px;
    z-index: 10;

    &__search {
      margin-top: toRem(4);
      margin-bottom: $unit-1;
    }

    hr {
      border: 0;
      border-bottom: 1px solid $bbt-grey-10;
      margin-bottom: $unit-1;
    }

    &__order {
      margin-bottom: $unit-1;
      &-options {
        display: flex;
        flex-direction: column;
        gap: $unit-factor;
      }
      label {
        gap: $unit-factor;
      }
    }

    &__select-all {
      margin-bottom: $unit-1;
      label {
        display: flex;
        align-items: center;
        gap: $unit-factor;
      }
    }

    &__options {
      display: flex;
      flex-direction: column;
      gap: toRem(5);

      label {
        display: flex;
        align-items: center;
        gap: $unit-factor;
      }
    }
  }
