// Styles for the tooltip inside modal and page content

//Example usage
//  <div
//        data-tooltip-id="my-tooltip"
//        data-tooltip-content="Freigabe erteilen"
//        data-tooltip-place="top"
//        data-tooltip-offset={0}
//        onClick={handleShow}
//        className="button button-gost button--big button--grey">
//  </div>
//  <Tooltip id="my-tooltip" className="custom-tooltip" />

.modal,
.body,
.page-content {
  .custom-tooltip {
    padding: $unit-0;
    font-family: $font--boxed-regular;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: $bbt-white;
    border-radius: toRem(4);
    background: $bbt-secondary-grey;
    transition-delay: 0.3s;
  }
}