// Color Variable
// Green
$green-100: #43B02A;
$green-90: #72AA45;
$green-80: #84B355;
$green-70: #94BD6A;
$green-60: #A5C57E;
$green-50: #B4D094;
$green-40: #C5D9A9;
$green-30: #D3E4C0;
$green-20: #E1ECD5;
$green-10: #F2F5E9;
$green-5: #FBFDF3;
// Grey
$grey-100: #53565A;
$grey-90: #5F5F5E;
$grey-80: #727271;
$grey-70: #838383;
$grey-60: #949798;
$grey-50: #A9A9AA;
$grey-40: #B9BBBA;
$grey-30: #CBCCCB;
$grey-20: #DCDCDE;
$grey-10: #EDEDED;
$grey-5: #F9F8F8;
// Red
$red-100: #A9130A;
$red-70: #F23A2D;
$red-50: #FAAEA8;
$red-10: #FDDFDD;
// Yellow
$yellow-100: #F8E807;
// Blue
$blue-100: #377EBB;
$blue-50: #68A6DB;
$blue-10: #C6DDF1;
// Orange
$orange-100: #EF8650;
$orange-50: #FFBC9A;
$orange-10: #FADED0;