// Color Variable
// Green
$bbt-primary-green: #43B02A;
$bbt-green-90: #72AA45;
$bbt-green-80: #84B355;
$bbt-green-70: #94BD6A;
$bbt-green-60: #A5C57E;
$bbt-green-50: #B4D094;
$bbt-green-40: #C5D9A9;
$bbt-green-30: #D3E4C0;
$bbt-green-20: #E1ECD5;
$bbt-green-10: #F2F5E9;
$bbt-green-5: #FBFDF3;
// Grey
$bbt-secondary-grey: #53565A;
$bbt-grey-90: #5F5F5E;
$bbt-grey-80: #727271;
$bbt-grey-70: #838383;
$bbt-grey-60: #949798;
$bbt-grey-50: #A9A9AA;
$bbt-grey-40: #B9BBBA;
$bbt-grey-30: #CBCCCB;
$bbt-grey-20: #DCDCDE;
$bbt-grey-10: #EDEDED;
$bbt-grey-5: #F9F8F8;
// Red
$bbt-red-100: #A9130A;
$bbt-red-70: #F23A2D;
$bbt-red-50: #FAAEA8;
$bbt-red-10: #FDDFDD;
// Yellow
$bbt-yellow-100: #F8E807;
// Blue
$bbt-blue-100: #377EBB;
$bbt-blue-50: #68A6DB;
$bbt-blue-10: #C6DDF1;
// Orange
$bbt-orange-100: #EF8650;
$bbt-orange-50: #FFBC9A;
$bbt-orange-10: #FADED0;
// White
$bbt-white: #fff;

// Text
$bbt-text: $bbt-secondary-grey;