.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__title {
    display: block;
    margin-bottom: toRem(15);
    color: $bbt-text;
  }

  &__username {
    margin-bottom: toRem(126);
  }

  &__button {
    display: flex;
    justify-content: space-between;
    gap: $unit-3;
  }

  &__button-forgot {
    flex-shrink: 0;
  }
}