.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__title {
    display: block;
    margin-bottom: toRem(15);
    color: $bbt-text;
  }

  &__username {
    margin-bottom: toRem(126);
  }

  &__button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $unit-3;
    
    @media (min-width: 576px) {
      flex-wrap: unset;
    }

    &-forgot {
      flex-shrink: 0;
    }

    &-register {
      display: none;
      flex-direction: column;
      color: $bbt-text;
      text-decoration: none;
      cursor: pointer;
    }

    &-register-text {
      margin-right: toRem(3);
    }

    &-register-link {
      color: $bbt-primary-green;
    }

  }

  .form-error-message {
    display: none;
  }

  &.error {
    .forgot-password__username {
      margin-bottom: $unit-1;
    }

    .form-error-message {
      display: block;
      color: $bbt-red-100;
      margin-bottom: $unit-1;
    }

    .forgot-password__button-forgot {
      display: none;
    }

    .forgot-password__button-register {
      display: flex;
      margin-bottom: toRem(48);
    }
  }
}