.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .form {
    width: toRem(398);
    height: auto;
    padding: $unit-3;
    background-color: $bbt-white;
    border-radius: toRem(4);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &__username {
    margin-bottom: toRem(18);
  }

  &__password {
    margin-bottom: toRem(8);
  }

  &__forgot-pasword {
    margin-bottom: $unit-5;
    color: $bbt-text;
    text-align: right;
  }

  &__forgot-pasword-link {
    margin-left: toRem(3);
  }
  .input-field {
    &__content {
      &:-webkit-autofill {
        -webkit-text-fill-color: $bbt-text !important;
        -webkit-box-shadow: 0 0 0px 1000px $bbt-white inset !important;
      }
    }
  }

  // Button
  &__button {
    display: flex;
    gap: $unit-2;

    &-login {
      flex-shrink: 0;
    }

    &-register {
      color: $bbt-text;
      text-decoration: none;
      cursor: pointer;
    }

    &-register-text {
      margin-right: toRem(3);
    }
  }
}
