.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .form {
    width: toRem(398);
    height: auto;
    padding: $unit-3;
    background-color: $bbt-white;
    border-radius: toRem(4);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.10);
  }

  .input-field {
    &__content {
      &:-webkit-autofill {
        -webkit-text-fill-color: $bbt-text !important;
        -webkit-box-shadow: 0 0 0px 1000px $bbt-white inset !important;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: toRem(15);
    color: $bbt-text;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: $unit-1;
    margin-bottom: $unit-3;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    gap: $unit-3;
  }

  &__button-register {
    flex-shrink: 0;
  }

  &__form-field {
    .error-message {
      margin-top: $unit-0;
    }
  }
}