.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__title {
    display: block;
    margin-bottom: toRem(15);
    color: $bbt-text;
  }

  &__password,
  &__password-repeat {
    margin-bottom: $unit-1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(6);
    margin-bottom: $unit-3;
  }

  &__content-title {
    margin-bottom: $unit-factor;
  }

  &__content-item {
    display: flex;
    align-items: center;
    gap: $unit-factor;
  }

  &__content-icon {
    width: toRem(14);
    height: toRem(14);
    flex-shrink: 0;

    &.icon-check {
      background-color: $bbt-primary-green;
    }

    &.icon-x {
      background-color: $bbt-red-100;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $unit-3;

    @media (min-width: 576px) {
      flex-wrap: unset;
    }
  }

  &__button-reset {
    flex-shrink: 0;
  }

  &__button-register {
    color: $bbt-text;
    text-decoration: none;
    cursor: pointer;
  }

  &__button-register-link {
    color: $bbt-primary-green;
  }
}