.breadcrumb {
  margin-bottom: toRem(32)!important;
  color: $bbt-text;

  &__container {
    display: flex;
    flex-direction: row;
    gap: $unit-0;
  }

  &__divider {
    color: $bbt-grey-40;
  }
}
