.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  z-index: 10;
}

.no-scroll {
  overflow: hidden; 
  height: 100%;    
}

.user-info-dropdown {
  position: absolute;
  right: $unit-6;
  width: 540px;
  background-color: $bbt-grey-5;
  border: 1px solid $bbt-grey-50;
  border-radius: 4px;
  z-index: 100;
  cursor: auto;
  overflow: hidden;
  top: -450px;

  &.close {
    animation: slideUp 0.3s ease forwards;
    @keyframes slideUp {
      0% {
        top: 65px;
        opacity: 1;
      }
      100% {
        top: -450px;
        opacity: 1;
      }
    }
  }

  &.open {
    animation: slideDown 0.3s ease forwards;
    top: 65px;
    @keyframes slideDown {
      0% {
        top: -450px;
        opacity: 1;
      }
      100% {
        top: 65px;
        opacity: 1;
      }
    }
  }

  &__notification {
    right: 220px;
  }

  &__header {
    height: 78px;
    padding: $unit-1;
    color: $bbt-secondary-grey;
    border-bottom: 1px solid $bbt-grey-50;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    color: $bbt-secondary-grey;
  }

  &__user-name {
    color: $bbt-secondary-grey;
  }
  &__user-email {
    color: $bbt-primary-green;
  }
  &__message {
    color: $bbt-secondary-grey;
  }

  &__change-password-link {
    color: $bbt-primary-green;
    cursor: pointer;
    text-decoration: none;
  }

  &__button-end {
    display: flex;
    justify-content: end;
    margin-top: $unit-3;
    margin-left: auto;
  }

  &__body {
    padding: $unit-1;

    p {
      margin: 0 0 10px;
    }

    hr {
      border: 0;
      border-top: 1px solid $bbt-grey-10;
      margin: 15px 0;
    }

    > div:last-child {
      padding-bottom: $unit-1;
    }
  }

  @media (min-width: 300px) {
    right: $unit-6;
    width: 540px;
    border-radius: 4px;

    &__header {
      padding: $unit-1;
    }

    &__body {
      padding: $unit-1;

      hr {
        border: 0;
        border-top: 1px solid $bbt-grey-10;
        margin: 15px 0;
      }
    }
  }
  
  @media (max-width: 746px) {
    right: $unit-1;
    width: calc(100% - $unit-3);
    border-radius: 4px;

    &__header {
      padding: 10px;
    }

    &__body {
      padding: $unit-1;

      hr {
        margin: 15px 0;
      }
    }
  }
}
