.footer {
    height: $unit-5;
    padding: $unit-1; 
    color: $bbt-white;
    border: 1px solid $bbt-secondary-grey;
    border-radius: 4px;
    background-color: $bbt-secondary-grey;
    margin: 0px $unit-1 $unit-1 $unit-1;
    > div {
        display: flex;
        justify-content: flex-start;
      > div {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: flex-start;
        a {
          text-decoration: none;
          margin-left: 3px;
        }
      }
    }

    @media (min-width: 768px) {
      &__developed-by {
        justify-content: flex-end;
      }
    }
  }
