.body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  color: $bbt-text;
  background-color: $bbt-grey-5;
}

.main-content {
  width: 100%;
  min-height: calc(100vh - $unit-7);
  
  .page-content {
    padding: toRem(105) $unit-1 $unit-1;
  }
}
