.navbar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: toRem(78);
	padding: 20px calc(2 * $unit-factor);
	margin: 0 auto;
	border-bottom: 2px solid $bbt-grey-5;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

	&__brand {
		display: flex;
		align-items: center;
		gap: toRem(6);
		width: $unit-5;
		height: 100%;
		margin: 0;

		@media (min-width: 576px) {
			justify-content: flex-start;
			width: auto;
			gap: 20px;
		}

		a {
			cursor: pointer;
		}

		img {
			width: $unit-9;

			@media (min-width: 768px) {
				width: auto;
			}
		}
	}

	&__hamburger {
		display: flex;
		justify-content: flex-start;
	}

	&__user {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: toRem(15);
		width: calc(100% - 250px);
		height: 100%;
		background: $bbt-white;
	}

	&__notification {
    position: relative;
		display: grid;
		padding: $unit-factor;
		vertical-align: middle;
		cursor: pointer;

		&--notification-badge {
			position: absolute;
			top: toRem(10);
			left: toRem(20);
			padding: toRem(3);
			width: toRem(6);
			height: toRem(6);
			background-color: $bbt-primary-green;
			border-radius: 60%;
			border: 2px solid $bbt-white;
			z-index: 2;
		}
	}

	&__user-data {
		display: grid;
		cursor: pointer;
	}

	&__user-text {
		color: $bbt-grey-50;
	}

}
