.vertical-menu {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background: $bbt-grey-10;
  color: $bbt-secondary-grey;
  height: 100%;
  z-index: 1001;
  transition: transform 0.3s ease; 
  transform: translateX(-100%); 

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-100%); 
  }

  &__caption-color {
    padding-left: 26px;
    padding-top: 26px;
    color: $bbt-grey-50;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $unit-1;
    padding-right: $unit-1;
    padding-top: 14px;
  }

  #sidebar-menu {
    padding-left: 26px;
    padding-top: $unit-1;
    .sidebar {
      &__menu-item {
        text-decoration: none;
        outline: none;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 26px;
          color: $bbt-secondary-grey;
          background: none;
          border: none;
          border-radius: 8px;
          gap: $unit-0;
          text-align: start;
          cursor: pointer;

          span {
            font-family: $font--boxed-regular;
            font-weight: 500;
            font-size: 16px;
            background: $bbt-grey-10;
            color: $bbt-secondary-grey;
          }

          .icon {
            background: $bbt-grey-50;
          }

          &:hover {
            transition: 0.3s ease-out;
            background: $bbt-grey-10;

            span {
              color: $bbt-secondary-grey;
              font-family: $font--boxed-medium;
              font-weight: 600;
              background: $bbt-grey-10;
              transition: 0.3s ease-out;
            }

            .icon {
              background: $bbt-primary-green;
              transition: 0.3s ease-out;
            }
          }
        }
      }
    }
  }

  @media (min-width: 300px) and (max-width: 992px) {
    box-shadow: 4px 0px 8px rgba(16, 24, 64, 0.08);
  }

  @media (min-width: 200px) and  (max-width: 375px) {
    width: 100%; 
  }
}
